{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

		<div class="example-wrapper">
			<h1>Hello ! ✅</h1>

			<h2>List des routes de l'api</h2>
			<ul>
				<li>Série par Id : "/tv/show/{serie_id}"</li>
				<li>Série par recherche : "/tv/search/{serie_name}"</li>
				<li>Série par découvertes : "/tv/discover"</li>
				<li>Série par critères : "/tv/discover/standard/{vote_average}/{with_runtime}/{with_genres}/{with_networks}"</li>
			</ul>
		</div>
	{% endblock %}
